extends layout

block content
  div(class="container-fluid")
    if (err)
      div
        h2(style = "color: red;")= err

    h1(class="header")
      | FreeCodeCamp API Basejump: File Metadata Microservice

    div(style="width:500px;margin:auto;")
      form(action="/get-file-size", method="post", enctype="multipart/form-data")
        input(type="file", name="pic", accept="image/*")
        input(type="submit")

    
